<a href="https://colab.research.google.com/github/gr3ybr0w/BostonAirBnb/blob/master/cookbook/plotting/createSourceTargetforChordCharts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from itertools import combinations
from pandas.io.json import json_normalize

In [0]:
cd = pd.DataFrame([{'cust':1, 'a': 0, 'b': 1, 'c':0},
 {'cust':2, 'a': 1, 'b': 1, 'c':1},
 {'cust':3, 'a': 0, 'b': 1, 'c':1},
 {'cust':4, 'a': 0, 'b': 0, 'c':0},
 {'cust':5, 'a': 0, 'b': 1, 'c':0},
 {'cust':6, 'a': 1, 'b': 1, 'c':0},
 {'cust':7, 'a': 0, 'b': 1, 'c':1},
 {'cust':8, 'a': 0, 'b': 0, 'c':0},
 {'cust':9, 'a': 0, 'b': 1, 'c':1},
 {'cust':10, 'a': 1, 'b': 1, 'c':0},
 {'cust':11, 'a': 0, 'b': 1, 'c':1},
 {'cust':12, 'a': 0, 'b': 0, 'c':0},
 {'cust':13, 'a': 0, 'b': 0, 'c':0},
 {'cust':14, 'a': 1, 'b': 1, 'c':1}])

In [0]:
cd.set_index('cust',inplace=True)

In [17]:
cd

      a  b  c
cust
1     0  1  0
2     1  1  1
3     0  1  1
4     0  0  0
5     0  1  0
6     1  1  0
7     0  1  1
8     0  0  0
9     0  1  1
10    1  1  0
11    0  1  1
12    0  0  0
13    0  0  0
14    1  1  1

In [0]:
combs = list(combinations(list(cd), 2))

In [0]:
def awesome(row):
    d = []
    for c in combs:
        if (row[c[0]] * row[c[1]]) > 0:
            d.append({'Source': c[0],'Target': c[1], 'Value': row[c[0]] + row[c[1]]})
    return pd.Series(d)

In [0]:
cdo = cd.apply(awesome, axis=1)

In [0]:
cols = list(cdo)

In [22]:
dd = pd.DataFrame()
for col in cols:
    t = cdo[[col]]
    t.rename(columns={col:'a'}, inplace=True)
    dd = pd.concat([dd, t])

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [0]:
dd.dropna(inplace=True)

In [0]:
jn = json_normalize(dd.a)

In [25]:
jn

   Source Target  Value
0       a      b      2
1       b      c      2
2       a      b      2
3       b      c      2
4       b      c      2
5       a      b      2
6       b      c      2
7       a      b      2
8       a      c      2
9       a      c      2
10      b      c      2
11      b      c      2